# Django
SECRET_KEY=admin12345
DEBUG=False
ALLOWED_HOSTS=localhost,127.0.0.1

# MySQL
DB_ENGINE=mysql
DB_NAME=brightmart_db
DB_USER=brightmart
DB_PASSWORD=admin12345
DB_HOST=db
DB_PORT=3306
MYSQL_ROOT_PASSWORD=admin12345

# Frontend / gateway
PORT=80
